.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.25rem;
  border-radius: 6px;
  background-color: #1a3a1a;
  transition: background-color 0.2s;
}

.btn:hover,
.ativo {
  background-color: #4169E1;
}